body{
    
    background-color: rgb(21, 182, 29);
}

nav{
    background-color: #242524;
}

.header ul{
    margin: 10px;
    list-style-type: none;
    

}

.header li{
    display: inline-block;
}

.header li a{
    display: inline-block;
    color: white;
    text-decoration: none;
    margin: auto;
    padding: 14px 20px;

}
.header li :hover{
    background-color: rgb(38, 184, 48);
    color: black;
    font-weight: bold;
    
}

#logo{
    border-radius: 10px;
    margin:0px;
    background-color: #d6ddd5;
    width: 100%;
    height: auto;
}
#logo img{
    padding: 10px;
    width: 45%;
}

.center{
    text-align: center;
}


.header{
    border-radius: 10px;
}

.info-box{
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #242524;
    color: white;
}

.info-box li{
    padding: 20px 10px;
    display: block;
    align-items: center;
}

.info-box .icons {
    padding: 20px 20px;
    font-size:70px;
    color: #f7f2f2;
    display: inline-block;
    margin: 10px;
}

.info-box .icons img{
    padding: 0px;
    height: 60px;
}

.footer{
    margin: 10px;
    border-radius: 10px;
    background-color: #006500;
}
.footer .icons{
    padding: 20px 20px;
    font-size:70px;
    color: #f7f2f2;
    display: inline-block;
    margin: 10px;
}
.footer .icons:hover{
    color: black;
}

.content{
    display: flex;
    flex-direction: row;
}

.info-box{
    flex: 1 1 auto;
    width: 500px;
    height:auto;
}
@media (max-width:600px){
    body{
        width:500px;
        align-items: center;
    }
    .navbar{
        display: none;
    }
   .footer{
    display: flex;
   }
   .content{
    
   }
}
@media (max-width: 910px) {

    .content{
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #logo img{
        max-width: 100%;
    }
}
@media (min-width:1400px) {
    #logo img{
        max-width: 550px;
    }
    
}
